 .variable {
    cursor: default;
    background-color: #65b9dd;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 3px;
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    display: inline-block;
    line-height: 12px;
} 