.select2-container--default .select2-selection--single {
    border: 1px solid #e5e6e7 !important; 
}

.select2-dropdown {
    
    z-index: 10510 !important;
}

.Alto_Grid {
    min-height: 300px;
    height: 300px;
    max-height: 300px;
    overflow-y: auto !important;
}

.Alto_Grid > table > tbody{

    cursor: pointer

}

#grid_tabla{

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#MIBit_div .content {

    cursor: pointer


}

table#cot-tabla tbody tr{
    cursor: pointer 
}

.S{
    background: red;
    color: white
}

.S > option{
    background: white;
    color: black;
}